{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		$('#video_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_dm_video_list 'web' user.fid  %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(1)', nRow).html( '<a href="/dm_video_detail/'+{{harvester_id}}+'/'+aData[1]+'">'+aData[1]+'</a>' );
                },
                "aoColumnDefs":aoColumnDefs,
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_dm_video_list 'csv' user.fid  %}",
                  } ]
                },
            });

		var oTable3 = $('#comments_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_dm_comment_list 'web' user.fid  %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    //from
                    ($('td:eq(1)', nRow).html() == "None") ? from = aData[8] : from = aData[1];
                    $('td:eq(1)', nRow).html(  '<a href="/dm_user_detail/{{ harvester_id }}/fid/'+aData[6]+'">'+from+'</a>' );
                    //to (post_ffrom)
                    $('td:eq(2)', nRow).html(  '<a href="/dm_user_detail/{{ harvester_id }}/fid/'+aData[7]+'">'+aData[2]+'</a>' );
                    //post
                    $('td:eq(3)', nRow).html(  '<a href="/dm_video_detail/{{ harvester_id }}/'+aData[3]+'">'+aData[3]+'</a>' );
                },
		        "aoColumns": [ 
                    { "bVisible":    true },//0 : u'created_time',
                    { "bVisible":    true },//1 : u'user__screenname',
                    { "bVisible":    true },//2 : u'video__user__screenname',
                    { "bVisible":    true },//3 : u'video__fid',
                    { "bVisible":    true },//4 : u'message',
                    { "bVisible":    true },//5 : u'language',
                    { "bVisible":    false },//6: u'user__fid',
                    { "bVisible":    false },//7: u'video__user__fid',
                ],
                "aoColumnDefs": [ 
                    { 
                        "bSearchable": false, "aTargets": [ 0 ],
                    }
                ],
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_dm_comment_list 'csv' user.fid  %}",
                  } ]
                },
            });

		$('#fans_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_dm_fans_list 'web' user.fid %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(0)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[0]+'</a>' );
                    $('td:eq(1)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[1]+'</a>' );
                    $('td:eq(2)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[2]+'</a>' );

                    //description
                    $('td:eq(4)', nRow).html( _wordwrap(aData[4],50) );
                    //url
                    $('td:eq(8)', nRow).html( '<a href="'+aData[8]+'">'+_wordwrap(aData[8],30)+'</a>' );
                },
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_dm_fans_list 'csv' user.fid %}",
                  } ]
                },
            });

		$('#friends_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_dm_friends_list 'web' user.fid %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(0)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[0]+'</a>' );
                    $('td:eq(1)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[1]+'</a>' );
                    $('td:eq(2)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[2]+'</a>' );

                    //description
                    $('td:eq(4)', nRow).html( _wordwrap(aData[4],50) );
                    //url
                    $('td:eq(8)', nRow).html( '<a href="'+aData[8]+'">'+_wordwrap(aData[8],30)+'</a>' );
                },
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_dm_friends_list 'csv' user.fid %}",
                  } ]
                },
            });

		$('#following_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_dm_following_list 'web' user.fid %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(0)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[0]+'</a>' );
                    $('td:eq(1)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[1]+'</a>' );
                    $('td:eq(2)', nRow).html( '<a href="/dm_user_detail/'+{{harvester_id}}+'/fid/'+aData[0]+'">'+aData[2]+'</a>' );

                    //description
                    $('td:eq(4)', nRow).html( _wordwrap(aData[4],50) );
                    //url
                    $('td:eq(8)', nRow).html( '<a href="'+aData[8]+'">'+_wordwrap(aData[8],30)+'</a>' );

                },
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_dm_following_list 'csv' user.fid %}",
                  } ]
                },
            });

	} );
</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/dm/0">All users</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/dm/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}
<h3>{{ user.screenname }} </h3>
<table id="user_table" class="pretty">
    <thead>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>screenname</th>
        <th>gender</th>
        <th>description</th>
        <th>language</th>
        <th>status</th>
        <th>type</th>
        <th>url</th>
        <th>views total</th>
        <th>videos total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/dm_user_detail/{{ harvester_id }}/fid/{{user.fid}}">{{ user.fid|default_if_none:"0" }}</a></td>
        <td><a href="/dm_user_detail/{{ harvester_id }}/fid/{{user.fid}}">{{ user.username|default_if_none:"" }}</a></td>
        <td><a href="/dm_user_detail/{{ harvester_id }}/fid/{{user.fid}}">{{ user.screenname|default_if_none:"" }}</a></td>
        <td>{{ user.gender|default_if_none:"" }}</td>
        <td>{{ user.description|default_if_none:"0" }}</td>
        <td>{{ user.language|default_if_none:"" }}</td>
        <td>{{ user.status|default_if_none:"" }}</td>
        <td>{{ user.type|default_if_none:"0" }}</td>
        <td>{{ user.url.original_url|default_if_none:""|urlize }}</td>
        <td>{{ user.views_total|default_if_none:"0" }}</td>
        <td>{{ user.videos_total|default_if_none:"0" }}</td>
    </tr>
    </tbody>
</table>

<h3>{{ user.screenname }}'s video</h3>
<div  id='dmvideo_chart' style='margin:0 auto; width: 1024px; height: 240px;'></div>
<table id="video_table" class="pretty">
    <thead>
        <tr>
            <th>Created / Updated time</th>
            <th>Video ID</th>
            <th>title</th>
            <th>description</th>
            <th>language</th>
            <th>country</th>
            <th>duration</th>
            <th>allow comments</th>
            <th>rating</th>
            <th>ratings_total</th>
            <th>views total</th>
            <th>comments total</th>
            <th>bookmarks total</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>{{ user.name }} comments</h3>
<div  id='dmcomment_chart' style='margin:0 auto; width: 1024px; height: 240px;'></div>
<table id="comments_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>From</th>
            <th>To</th>
            <th>Video ID</th>
            <th>Message</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Fans</h3>
<table id="fans_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>screenname</th>
        <th>gender</th>
        <th>description</th>
        <th>language</th>
        <th>status</th>
        <th>type</th>
        <th>url</th>
        <th>views total</th>
        <th>videos total</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Friends</h3>
<table id="friends_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>screenname</th>
        <th>gender</th>
        <th>description</th>
        <th>language</th>
        <th>status</th>
        <th>type</th>
        <th>url</th>
        <th>views total</th>
        <th>videos total</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Following</h3>
<table id="following_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>screenname</th>
        <th>gender</th>
        <th>description</th>
        <th>language</th>
        <th>status</th>
        <th>type</th>
        <th>url</th>
        <th>views total</th>
        <th>videos total</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    function buildChart($url_to_get, $dest_tag){

        var jsonData = $.ajax({
            url: $url_to_get,
            dataType:"json",
            async: true,
            success: function(html){
                    // Succesful, load visualization API and send data      
                    var data = new google.visualization.DataTable(html);
                    var annotatedtimeline = new google.visualization.AnnotatedTimeLine(document.getElementById($dest_tag));
                    annotatedtimeline.draw(data, {'displayAnnotations': false});
                }
              });
    }

    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    buildChart("{% url snh.views.get_dmvideo_chart harvester_id user.fid %}", 'dmvideo_chart')
    buildChart("{% url snh.views.get_dmcomment_chart harvester_id user.fid %}", 'dmcomment_chart')
</script>

{% endblock %}
