{% extends "snh/snh_base.html" %}
{% block content %}

<h1>Harvesters stats</h1>

<table width="100%">
    <thead>
        <th>Twitter</th>
        <th>Facebook</th>
        <th>Dailymotion</th>
        <th>Youtube</th>
    </thead>
    <tbody>
        <td>
            {% for th in twitter_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    <th colspan="2">{{ th.harvester_name }}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Is active</td>
                        <td>{{ th.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        <td>{{ th.harvest_in_progress }}</td>
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Token remaining hits</td>
                        <td>{{ th.remaining_hits }}</td>
                    </tr>
                    <tr>
                        <td>Token hourly limit</td>
                        <td>{{ th.hourly_limit }}</td>
                    </tr>                    <tr>
                        <td>Token reset time</td>
                        <td>{{ th.reset_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        <td>
            {% for th in facebook_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    <th colspan="2">{{ th.harvester_name }}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Is active</td>
                        <td>{{ th.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        <td>{{ th.harvest_in_progress }}</td>
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        <td>
            {% for th in dailymotion_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    <th colspan="2">{{ th.harvester_name }}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Is active</td>
                        <td>{{ th.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        <td>{{ th.harvest_in_progress }}</td>
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        <td>
            {% for th in youtube_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    <th colspan="2">{{ th.harvester_name }}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Is active</td>
                        <td>{{ th.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        <td>{{ th.harvest_in_progress }}</td>
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
    </tbody>
</table>

{% endblock %}
