{% extends "snh/snh_base.html" %}
{% block content %}

{% load facebook %}
{% facebook_init %}
{% endfacebook %}
<table>
<tbody>
<tr>
    <td>Utilisateur utilisé pour la collecte:</td>
    <td>{{ fanu.first_name }} {{ fanu.last_name }}</td>
</tr>
<tr>
    <td>Le token expire le</td>
    <td>{{ fanu.oauth_token.expires_at }}</td>
</tr>
<tr>
    <td>Le token</td>
    <td>{{ fanu.oauth_token.token }}</td>
</tr>
</tbody>
</table>
<a href="/request_fb_token">Demander un nouveau token</a>
{% endblock %}
