{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var oTable1 = $('#status_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_tw_status_list 'web' user.screen_name  %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(1)', nRow).html( '<a href="/tw_status_detail/{{ harvester_id }}/'+aData[1]+'">'+aData[1]+'</a>' );
                },
                "aoColumnDefs": [ 
                    { 
                        "bSearchable": false, "aTargets": [ 0 ] 
                    }
                ],
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_tw_status_list 'csv' user.screen_name  %}",
                  } ]
                },
            });
		var oTable2 = $('#search_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_tw_statussearch_list 'web' user.screen_name  %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(1)', nRow).html( '<a href="/tw_status_detail/{{ harvester_id }}/'+aData[1]+'">'+aData[1]+'</a>' );
                    $('td:eq(2)', nRow).html( '<a href="/tw_user_detail/{{ harvester_id }}/'+aData[2]+'">'+aData[2]+'</a>' );
                },
                "aoColumnDefs": [ 
                    { 
                        "bSearchable": false, "aTargets": [ 0 ] 
                    }
                ],
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_tw_statussearch_list 'csv' user.screen_name  %}",
                  } ]
                },
            });
	} );
</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/tw/0">All users</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/tw/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}
<h3>{{ user.name }} </h3>
<table id="user_table" class="pretty">
    <thead>
    <tr class="head">
        <th>Name</th>
        <th>Screen Name</th>
        <th>Description</th>
        <th>Followers count</th>
        <th>Friends count</th>
        <th>Statuses count</th>
        <th>Listed count</th>
        <th>URL</th>
        <th>Location</th>
        <th>Time zone</th>
        <th>UTC offset</th>
        <th>Protected</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ user.name }}</td>
        <td><a href="/tw_user_detail/{{ harvester_id }}/{{ user.screen_name }}">{{ user.screen_name }}</a></td>
        <td>{{ user.description }}</td>
        <td>{{ user.followers_count }}</td>
        <td>{{ user.friends_count }}</td>
        <td>{{ user.statuses_count }}</td>
        <td>{{ user.listed_count }}</td>
        <td></td>
        <td>{{ user.location }}</td>
        <td>{{ user.time_zone }}</td>
        <td>{{ user.utc_offset }}</td>
        <td>{{ user.protected }}</td>
        <td>{{ user.lang }}</td>
    </tr>
    </tbody>

</table>
<h3>Statuses</h3>
<div  id='status_chart' style='margin:0 auto; width: 1024px; height: 240px;'></div>
<table id="status_table" class="pretty">
    <thead>
        <tr>
            <th>Created at</th>
            <th>ID</th>
            <th>text</th>
            <th>Retweet count</th>
            <th>Retweeted</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Search results for @{{ user.screen_name }} </h3>
<div  id='at_chart' style='margin:0 auto; width: 1024px; height: 240px;'></div>
<table id="search_table" class="pretty">
    <thead>
        <tr>
            <th>Created at</th>
            <th>ID</th>
            <th>From</th>
            <th>text</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    function buildChart($url_to_get, $dest_tag){

        var jsonData = $.ajax({
            url: $url_to_get,
            dataType:"json",
            async: true,
            success: function(html){
                    // Succesful, load visualization API and send data      
                    var data = new google.visualization.DataTable(html);
                    var annotatedtimeline = new google.visualization.AnnotatedTimeLine(document.getElementById($dest_tag));
                    annotatedtimeline.draw(data, {'displayAnnotations': false});
                }
              });
    }

    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    buildChart("{% url snh.views.get_status_chart harvester_id user.screen_name %}", 'status_chart')
    buildChart("{% url snh.views.get_at_chart harvester_id user.screen_name %}", 'at_chart')
</script>

{% endblock %}
